extends layout

block content
  h3 Create Poster Item 
  <br> 
  input#input-name(type='text', placeholder='Name of poster')
  <br>
  input#input-description(type='text', placeholder='Description')
  <br>
  input#input-image(type='text', placeholder='Weblink to image')
  <br>
  input#input-price(type='text', placeholder='Price')
  <br>
  input#input-quantity(type='text', placeholder='Quantity')
  <br>
  input#create-item-btn(type='submit', value='Create')
  script(src='javascripts/createItem.js')