extends layout

block content
 h1 PosterMania
 h4 Classic movie posters galore.
 a(href='/createItem') Create poster item to buy
 <br>
 <br>
 table.table-striped.table-hover
  thead
  tbody.items-list
  script(src='javascripts/main.js')
