extends layout

block content
  h1 PosterMania
  p Welcome to the largest collection of classic movie posters. 
  table.table
      tr
       th.title-item.col-md-6.col-xs-6 Item
       th.title-price.col-md-6.col-xs-6 Price
    tbody.itemsInStore-list

   script(src='javascripts/main.js')
