body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#ffffe0;
}

a {
  color: #00B7FF;
}

#main-title{
	font-family: 'Luckiest Guy', cursive;
}

.quantity-col, .quantity-title {
	position:relative;
	text-align: center;
}

.edit-col {
	cursor:pointer;
	text-decoration: underline;
}

.delete-col {
	cursor:pointer;
}

.price-title, .name-title {
	cursor:pointer;
	color:yellow;
	text-decoration: underline;
}

.image-col, .image-title {
	position:relative;
	text-align: left;
}

img {
	max-width: 500px;
  max-height: 500px;
}

.row-total-price {
	position:absolute;
	right: 17%;
}

.table-striped > tbody > tr:nth-child(2n+1) {
   background-color: #551111;
   color:white;
}

.table-striped > tbody > tr:hover {
   background-color:#B8860B;
   color:black;
}





