body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.quantity-col, .quantity-title {
	position:relative;
	text-align: center;
}

.image-col, .image-title {
	position:relative;
	text-align: left;
}

.row-total-price {
	position:absolute;
	right: 17%;
}